include AUTHORS
include CONTRIBUTING
include COPYING
include INSTALL
include MANIFEST.in
include NEWS
include README
include TODO
include pondus.py
include data/pondus.desktop
include data/pondus.1.gz
include data/icons/plot.png
include data/icons/pondus.png
include data/icons/pondus.svg
include data/icons/pondus.xpm
include po/README
include po/update_po.py
include po/pondus.pot
include po/*.po
recursive-include po/mo *.mo
