include AUTHORS.md
include CONTRIBUTING.md
include INSTALL.md
include LICENSE
include MANIFEST.in
include NEWS.md
include README.md
include TODO.md
include data/pondus.desktop
include data/pondus.1.gz
include data/icons/plot.png
include data/icons/pondus.png
include data/icons/pondus.svg
include data/icons/pondus.xpm
include pondus/gui/resources/plot.png
include pondus/gui/resources/pondus.png
include po/README.md
include po/update_po.py
include po/pondus.pot
include po/*.po
recursive-include po/mo *.mo
