include AUTHORS
include COPYING
include INSTALL
include NEWS
include README
include TODO
include data/pondus.desktop
include data/pondus.1.gz
include data/icons/plot.png
include data/icons/pondus.png
include data/icons/pondus.svg
include data/icons/pondus.xpm
include po/pondus.pot
include po/de.po
include po/README
include po/mo/de/LC_MESSAGES/pondus.mo
include po/mo/fr/LC_MESSAGES/pondus.mo
include src/pondus.py
